*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#nav-bar{
    /* height: 6rem; */
    width: 100%;
    background-color: aqua;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
} 

#nav-ele{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-ele ul{
    display: flex;
    gap: 1.5rem;
    margin: 0 0.8rem;
}

#nav-ele ul li{
    font-size: 1.35rem;
    font-weight: 600;
    transition: 0.15s ease;
}

#nav-ele ul li:hover{
    color: blue;
    cursor: pointer;
}

 
.btn {
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.35rem;
    padding: 0.375em 1em;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
      0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
      0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    cursor: pointer;
    margin: 0 1rem;
}
.btn:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
      0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
      0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

/* Page 1 */

#page1{
    background-color: aquamarine;
}

/* FORM */

.booking-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 5rem 10rem;
}

.booking-form h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 21px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .booking-form {
        padding: 20px;
        width: 90%;
    }

    .booking-form h2 {
        font-size: 22px;
    }

    .form-group label {
        font-size: 16px;
    }

    .form-group input,
    .form-group select {
        font-size: 16px;
        padding: 10px;
    }

    .submit-btn {
        font-size: 18px;
        padding: 12px;
    }
}
  